
@font-face {
  font-family: 'icomoon';
  src:  url('../font/icomoon.eot?l0wbjw');
  src:  url('../font/icomoon.eot?l0wbjw#iefix') format('embedded-opentype'),
    url('../font/icomoon.ttf?l0wbjw') format('truetype'),
    url('../font/icomoon.woff?l0wbjw') format('woff'),
    url('../font/icomoon.svg?l0wbjw#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-search:before {
  content: "\e986";
}
.submit-btn{
  /**
	 background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAlpJREFUeNq0l89LVFEUx+cNpBOjzGZymEBIyREpkmjIKaikjVDQQswKV/4LEUGbhFaFELPVTYtAZhMtigiKSMVANBiQNuoYzqQR+BslLeH5PXCEw/X9und8Bz7w7tx3znznnnPvPWPZth1xsbPgLrgJzoAY2AJz4DN4C5Yi1RoJUEiCl2DF9rZfYADEHWIERv0gB+ZsPZsGraYCLJGCHPgIEmKBJsEbUAQ7IAmyoAe0ifcqnKp50xSkQFn8qk3QDywX5SfBE7AvfKZAzDQFQyLQBrgaMMA9RcRjEwHnwI4I0qcZZED4/gYJXQGDIsC4QSFROhZEjB4d/ygXz6GNGOzkv6Agxp06ziSgUYyLhsfJd/HcrCugVoy3DAX8E891ugJ2xbjeUMAJJSVaAspifMFQwEXxvKgrYFSM7xt8eY3iN6F7EraDXbGNujW34SPhuw4aTE7CVyLIKugIGOAO2BO+z0yP4jRYFoHWwAMPxxrwUPlyup5rq7kNr4MPIC4yNMaNxwxYB6f4Nux1KFjaii/AU50SsJSO6AZ4rRxOfvYHpMT4G9gA0yDPwrU6otNgGGz7NCJUcM+56PIu7xRBc9AUOPWEt8E1XhHabnvcfHwF75QzhNJ03iFOCdwCs0FXwJRPHqtFt2XG7TY8LpvymGvidi8T5gpQ7VR86ubIShynACIboJ0vgZawBBBX+DT1Mmr9m8ISEOGm1m8lflDavLZhtZbjrZr0eKcQpgCyyyyiwWV+M2wBZJdYRNph7n80Er5Rw9oFfjrMfQmrCJ2grfee//Zt88nZeCDAAMk91jbH/UCHAAAAAElFTkSuQmCC')  !important;
	 background-repeat: no-repeat !important;
	 background-position: 5px 11px !important;
	 text-align: right !important;
    padding:0px 16px 0 41px !important**/
}
.submit-btn.form-control { 
  font-size: 19px !important;
  font-family: Arial !important;
  text-transform: CAPITALIZE !important;
  color: #ffffff !important;
  background-color: #138e6a !important;
}

.container{
  background-color:#ffffff !important;

}

.row.radio-group input {
    position: absolute !important;
    top: 13px !important;
    left:45px !important;
}

.row.radio-group label {
  font-family: Arial !important;
  font-size: 15px !important;
  line-height: 46px !important;
  margin-left: 17% !important;
}
.form-control {
    height: 51px !important;
    width: 100% !important
}

#inlineFormCustomSelect{
    height: 51px !important;
    width: 100% !important
}

.content.form{
  max-width: 768px !important;
}
.content.search-result a {
    text-decoration: none;
}

.content.search-result h2 {
    padding-bottom: 0px;
    margin-bottom: 7px;
}

.content.search-result .meta-post {
    font-size: 15px;
    font-style: italic;
    margin-bottom: 6px;
}
